body {
    background-image: url('../images/background-svg/body-bg.svg');
}

.navbarHeaderColor {
    background-color: #2D554C;
}

.linkStyle {
}

    .linkStyle a {
        color: white;
        text-decoration: none;
        font-size: 12pt;
        font-weight: bold;
    }

.socialMedia {
    float: right;
}

.navbarBody {
    height: 179px;
}
